@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
}

a {
  text-decoration: none;
  color: royalblue;

  &:hover {
    text-decoration: underline;
  }
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}
